<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
  <app-logo class="w-full flex justify-center"/>
    <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tigh">Register Your account</h2>
  </div>

  <form class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <form class="space-y-6" action="#" method="POST">
        <div>
          <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
          <div class="mt-2">
            <input hlmInput class="w-full" placeholder="casi">
          </div>
        </div>
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
          <div class="mt-2">
            <input hlmInput class="w-full" placeholder="casi@register.com" type="email">
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
          <div class="mt-2">
            <input hlmInput class="w-full" placeholder="*************" type="password">
          </div>
        </div>

        <div>
          <button hlmBtn variant="default" type="submit" class="w-full">Sign up</button>
        </div>
      </form>
    </div>

    <p class="mt-10 text-center text-md">
      Already signed up?
      <a href="#" class="font-semibold text-blue-600 hover:text-blue-800">Log in here!</a>
    </p>
  </form>
</div>
