<div class="flex max-h-full text-white">
  <div
    class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <app-logo class="h-10 w-auto" />
        <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight">
          Make an Account
        </h2>
      </div>

      <div class="mt-10">
        <div class="space-y-5">
          <div>
            <hlm-form-field>
              <label hlmLabel>Username</label>
              <input
                class="w-full"
                hlmInput
                placeholder="casi."
              />
            </hlm-form-field>
          </div>
          <div>
            <hlm-form-field>
              <label hlmLabel>Email address</label>
              <input
                class="w-full"
                hlmInput
                type="email"
                placeholder="casi@casi.com"
              />
            </hlm-form-field>
          </div>
          <div>
            <hlm-form-field>
              <label hlmLabel>Password</label>
              <input
                class="w-full"
                hlmInput
                type="password"
                placeholder="*********"
              />
            </hlm-form-field>
          </div>
        </div>

        <div class="my-8">

          <button class="w-full" hlmBtn>Register</button>
        </div>


      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img
      class=" absolute inset-0 h-full w-full "
      src="https://cdn.sanity.io/images/tdrhge4k/production/c8bc60d7ed41351c15ddb87a273b3c0bd5f816a9-1200x630.jpg"
      alt=""
    />
  </div>
</div>
